APP_NAME="Todo Sync"
APP_ENV=production
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

APP_LOCALE=pt_PT
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=pt_PT

DB_CONNECTION=mysql
DB_HOST=gondola.proxy.rlwy.net
DB_PORT=52530
DB_DATABASE=railway
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=file
SESSION_LIFETIME=120

NATIVEPHP_APP_ID=com.diogo.todosycn
NATIVEPHP_APP_VERSION="1.0.0"
NATIVEPHP_APP_VERSION_CODE="1"
